<h1><%= t ".title" %></h1>
<p>lets see if this works</p>

<%= link_to "New product", new_product_path if authenticated? %>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>
